<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title> Главная: Доска объявлений</titlе>
    </head>
    <body>
      <h1>Добавление объявления</h1>
      <div>
          <а hrеf="{% url 'index' %}">Главная</а>
          {% for rubric in rubrics %}
          <а href= "{% url 'by_rubric' rubric.pk %}">
          {{ rubric.name }}</а>
          {% endfor %}
      </div>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Добавить">
      </form>
    </body>
</html>